@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Bold.ttf") format("truetype");
  font-weight: 700;
}
