$main-color1: hsl(12, 88%, 59%);
$main-color2: hsl(228, 39%, 23%);
$secondary-color1: hsl(227, 12%, 61%);
$secondary-color2: hsl(233, 12%, 13%);
$secondary-color3: hsl(13, 100%, 96%);
$secondary-color4: hsl(0, 0%, 98%);
